*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 240px;
}
.container-nav-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#container-nav-1-tex{
    font-size: 45px;
    font-weight: 700;

}
#container-nav-1-tex-1{
    color: #FF42A5;
}
.container-nav-2{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 15px; 
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    
}
.container-nav-2-text-decoration{
    text-decoration: none;
}
.container-nav-2-bnt{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    width: 180px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    
}








.container-main-box1{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.container-main-box1-left{
    width: 901px;
    height: 700px;
    background-image: url("./images/Group\ 14.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#container-main-box1-title1{
    font-size: 48px;
    font-weight: 600;

}
#container-main-box1-title2{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}
#container-main-box1-sub-title{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    
}
#container-main-box1-bnt-all{
    padding-top: 30px ;
    display: flex;
    gap: 30px;
}
#container-main-box1-bnt1{
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border: none;

}

#container-main-box1-bnt2{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border: none;

}

#container-main-box1-left-img{
    width: 85%;
}





.container-nw-box1{
    padding: 100px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.container-nw-box1-tex{
    text-align: right;
}
#container-nw-box1-tex1{
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 30px; 
    

}


#container-nw-box1-tex2{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
#container-nw-box1-tex3{
    padding-top: 20px;
    color: #534C64;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
#container-nw-box1-tex4{
 
    color: #534C64;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}














.container-main-box2{
    padding: 50px 240px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

#container-main-box2-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

}
#container-main-box2-title1{
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}
#container-main-box2-title1-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container-main-box2-title2{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}
#icontainer-main-box2-right-par1{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
        
}
#icontainer-main-box2-right-par2{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
#icontainer-main-box2-right-par3{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    }
#icontainer-main-box2-right-par4{
    
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}





.container-main-box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* #container-main-box3-style{
    display: flex;
    flex-direction: column;
    
} */
#container-main-box3-title1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
#container-main-box3-title1-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container-main-box3-title2{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
#container-main-box3-right{
    padding-top: 380px;
}
#container-main-box3-right-last-img2{
    border: 2px solid gray;
    border-radius: 8px;
    position: relative;
    top: -300px;
    right: -400px;

}
/* #container-main-box3-left{

} */

/* .bnt-all{
    display: flex;
    flex-wrap: wrap;
    gap:  20px;
    justify-content: center;
    align-items: center;

}

.bnt{
    border: 2px solid gray;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;

  
} */






.container-main-box4{
    border: 5px solid rgb(207, 170, 176);
    padding: 80px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    /* text-decoration: none; */
}
#container-main-box4-bnt{
    padding: 10px 20px;
    width: 243px;
    height: 80px;
    border: 1px solid rgb(207, 170, 176);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

#container-main-box4-bnt:hover{
    border: 3px solid rgb(225, 141, 169);
    font-size:20px ;
    font-weight: 600;
    
}
.hover-button:hover {
    color: rgb(224, 131, 224); 
  }


.container-footer{
    padding: 120px 200px;
    height: 50vh;
    background: #0B0223;
}
.container-footer-line1{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
    
}
#container-footer-tex{
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}
.container-footer-line2{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.container-footer-line3{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px;  
    color: #FFF;
    text-align: center;
    padding-bottom: 50px;
    
}
.container-footer-line4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
}






@media screen and (max-width: 576px) {
    .container-nav{
        padding:103px 335px;
        flex-direction: column;      
    }
    .container-nav-2{
        padding-top: 20px;
        flex-direction: column;
    }


    .container-main-box1{
        flex-direction: column-reverse;
    }
    .container-main-box1-left-item{
        display: flex;
        justify-content: center;
        
    }
    #container-main-box1-left-img{
        width: 100%;
        padding-left: 230px;
        
        
    }








    .container-main-box2{
        padding-left: 340px;
    }
    #container-main-box2-right{

        flex-direction: column;
        
        
    }

    .container-main-box3{
        flex-direction: column;
    }
    #container-main-box3-right{
        padding-left: 100px;
    }
    #container-main-box3-left{
        padding-left: 250px;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 960px) {
    .container-nav{
        
        padding: 20px 30px;
    }
    .container-main-box1{
        flex-direction: column-reverse;
    }
    .container-main-box1-left-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container-main-box1-left-img{
        width: 100%;
        
    }

    .container-main-box2{
        padding-left: 300px;
    }

    #container-main-box2-right{
        display: grid;

 
    }
    .container-main-box3{
    
        padding-left: 30px;
        flex-direction: column;
    }
    .container-main-box3{
        padding-top: 150px;
    }
   
}